
.bt{color:#fff;border:2px solid #fff;border-radius:20px;margin-top:20px;
	padding:5px 15px 5px 15px;background-color:orange; height:34px;}

#cr,#naach{ display:inline-block; }
#naach{margin-left:5%}
#ca{border-right:1px dashed #ccc;}
#campus{color:#fff; padding:80px 20px 50px 20px; background-color:rgba(21,0, 45,0.6);}
#campus h3{ font-family:'xirod'}
#campus h3 ,#campus p{padding-top:10px}
#campus p{font-family: Roboto Condensed}
#campus .inp{padding:10px;}
#campus label{width:300px;font-weight:normal; display:block;}
#campus input{background:transparent; border:none;border-bottom:1px solid grey; width:300px;
		margin-bottom:20px;margin-right:20px;margin-top:5px; outline:none;	 }
#campus textarea{background:transparent; border:1px solid grey; width:100%;
	margin-bottom:20px;margin-right:20px;margin-top:5px; outline:none;	 }
#campus input[type='submit']{border:1px solid #d17600;width:190px;}

@media(max-width:600px){
	#ca{border-right:none;}
	#naach,#cr{margin-left:0;}
	#naach{}
	#campus h3{ font-size:20px}
	#campus p{font-size:15px}
	#nborder{border-left:1px dashed #fff;}
}