@font-face {
font-family: "protos";
src: url("../fonts/Protos.otf");
}
@font-face {
font-family: "xirod";
src: url("../fonts/xirod.ttf");
}
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;    
	font-family: 'Roboto Condensed', sans-serif;
}
body{ z-index:1;
}
iframe{height:400px; width:50%;}
.underline{text-decoration:none; border-bottom:1px solid cyan;      }
.banner{
	background: url(../images/backdrop.JPG) no-repeat 0px 0px;
    background-size: cover;
}
.agileinfo-dot{
	background: url(../images/dott.png)repeat 0px 0px;
    height:100%;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	padding: 1em 0;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- banner --*/
/*-- header --*/
.header {
    margin: 2em 0 0 0;
}
#main-logo{
      -webkit-filter: drop-shadow(5px 5px 5px #000);
      filter: drop-shadow(5px 5px 5px #000); animation-delay:0.4s; animation-duration:1.5s;display:none; }
.agileits-logo{text-shadow: 4px 4px 8px #000; }
.agileits-logo h1{
	margin:0;
}
.agileits-logo h3{
    margin:0; color:#fff;
}
.agileits-logo h1 a{
    font-size: 1.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight:500;
    font-family: 'protos';
    letter-spacing: 6px;
}
/*-- social-icons --*/
.agileinfo-social-grids{
    float: left;
    margin-left: 0;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
	
}
.agileinfo-social-grids ul li a i.fa.fa-facebook,.agileinfo-social-grids ul li a i.fa.fa-twitter,.agileinfo-social-grids ul li a i.fa.fa-rss,.agileinfo-social-grids ul li a i.fa.fa-vk{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
.agileinfo-social-grids ul li:nth-child(2){
	margin:.5em 0;
}
.agileinfo-social-grids ul li:nth-child(3){
	margin:0 0 .5em 0;
}
/*-- //social-icons --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: solid 4px rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    border: solid 4px #ffffff;
    background: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-nav > li > a {
	font-size: 1em;
    padding: .5em 1em;
    margin-right: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    border: solid 4px #ffffff;
    background: none;
}
/*-- //header --*/
/*-- w3layouts-banner-info --*/
.w3layouts-banner-info {
    padding: 0em 0 2em 0;
}
.w3ls-text{ 
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.w3ls-text h2{
    margin: 0;
    font-size: 5em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 4px;
}
.w3ls-text img{width:450px;}
.w3-arrow{
    text-align: center;
    margin: 4em 0 0 0;
}
.w3-arrow a i.fa.fa-angle-down{
    color: #FFFFFF;
    font-size: 2em;
    border: solid 1px #FFFFFF;
    width: 50px;
    height: 50px;
    padding: .25em 0 0 0;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
.bounce.animated {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
	-ms-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
/*-- //w3layouts-banner-info --*/
/*-- introduction --*/
.introduction,.about,.gallery,.team-dot,.news,.contact{
	padding:8em 0;
}

.w3l-heading h3{
    text-align: center;
    color: #fff;
    font-family: 'xirod';
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}
.w3ls-border{
    background: #000000;
    width: 7%;
    margin: 3em auto 0;
    height: 2px;
}
.introduction-info,.agileits-about-grids,.wthree-news-grids {
    margin: 2em 0 0 0;
}
.introduction-info p{
	color: #f2f2f2;
    font-size: .9em;
    margin: 0 auto;
    line-height: 1.8em;
    width: 70%;
    text-align: center;
    font-family:'Josefin Sans';
}
/*-- //introduction --*/
/*-- sponsor (about) --*/
#sponsor{
    background-image:url(../images/smoke.jpg); }
.about,.contact{
    background: #8e3cfe;
}
.about-heading h3{
	color:#FFFFFF;
}
.about-border{
	background: #FFFFFF;
}
.aboutus {margin-left:10%;}
.sp-image img{width:70%;margin-left:15%;}
.sp-caption{color:cyan; text-align:center; padding-top:10px; } 
/*-- //about --*/
/*-- gallery --*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #ffffff;
    cursor: default;
    background: #8e3cfe;
    border: solid 2px #8e3cfe;
}
.nav-tabs > li > a {
    margin-right: 3px;
    font-size: 1em;
    color: #212121;
    border: solid 2px #212121;
    border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
    padding: .5em 1em;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 4em 0;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 10px;
    float: none;
    display: inline-block;
}
.nav-tabs > li > a:hover {
    color: #FFFFFF;
    background: #8e3cfe;
    border: solid 2px #8e3cfe;
}
.agile-gallery-info{
    padding: 1em;
    background: #ccc;
    margin-bottom: 1em;
    border-bottom: solid 2px #e1e1e1;
}
.agile-gallery-info h5{
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.agile-gallery-info p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
.agile-gallery-info{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.w3_tab_img_left:hover .agile-gallery-info{
    border-bottom: solid 2px #8e3cfe;
}
.w3_tab_img_left:hover .agile-gallery-info p{
    color: #8e3cfe;
}
/*-- //gallery --*/
/*-- team --*/
.star-title{position: absolute;top:0;color:#fff;padding:20px;text-align:center;font-family:xirod}
.team{
	background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;z-index:10;
}
.team-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.team-info{
    position: relative;
    overflow: hidden;	
}
.team-info img{
    width:100%; height:25.5em;
    border: solid 2px #ffffff;
}
.agileits-team-grid{transform:scale(1.1);}
/*-- //team --*/

/*-- contact --*/
.contact-form {
    background: #f2f2f2;
}
.contact-info p{
	color:#FFFFFF;
}
.contact-form-left{
    padding: 4em 0em 4em 13em;
}
.contact-form-left h5,.contact-form-right h5{
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}
.address-grids {
    margin: 4em 0 0 0;
}
.address-icon{
	float:left;
	width:15%;
}
.address-icon i.fa.fa-map-marker,.address-icon i.fa.fa-phone,.address-icon i.fa.fa-envelope{
    color: #ffffff;
    background: #8e3cfe;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2em;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
.address-info{
	float: left;
    width: 80%;
    margin-left: 1em;
}
.address-info p {
    margin: 0;
    font-size: .9em;
    line-height: 1.8em;
}
.address-info p  a{
	color:#999999;
	text-decoration:none;
}
.address-info p a:hover{
	color:#8e3cfe;
}
.address-grid:nth-child(2){
	margin:1em 0;
}
.contact-form-right{
    padding: 4em 13em 4em 4em;
    background: #e4e4e4;
}
.contact-form-grid{
	margin:4em 0 0 0;
}
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.contact-form-right input[type="text"],.contact-form-right input[type="email"],.contact-form-right textarea{
    font-size: .9em;
    color: #8c8c8c;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #8c8c8c;
    background: none;
    -webkit-appearance: none;
	outline: none;
}
.contact-form-right textarea { 
	min-height: 150px;
    resize: none;
} 
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #333333;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
	width: 48%;
    margin: 2em 0 1em 1em;
    position: relative;
    float: left;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	color: #8c8c8c;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
} 
/*-- //input-effect --*/
.contact-form-right input[type="submit"] {
    outline: none;
    color: #000000;
    padding: .5em 3em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: none;
    border: 2px solid #000000;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.contact-form-right input[type="submit"]:hover {
    background:#8e3cfe;
    color: #FFFFFF;
	border: 2px solid #8e3cfe;
}
/*-- //contact --*/
/*-- footer --*/
footer{
	padding:1em 0;
	background: #8e3cfe;
	text-align:center;
}
footer p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
footer p a{
	color:#000000;
	text-decoration:none;
}
footer p a:hover{
	color:#FFFFFF;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 150px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1440px){
	.contact-form-left {
		padding: 4em 0em 4em 9em;
	}
	.contact-form-right {
		padding: 4em 9em 4em 4em;
	}
}
@media(max-width:1280px){
	.contact-form-left {
		padding: 4em 0em 4em 6em;
	}
	.contact-form-right {
		padding: 4em 6em 4em 4em;
	}
}
@media(max-width:1080px){
	.w3ls-text {
		width: 35%;
	}
	.address-info {
		width: 60%;
	}
}
@media(max-width:991px){
	.navbar-header {
		float: none;
		text-align: center;
		margin: 0 0 2em 0;
	}
	.navbar-nav {
		float: none;
		margin: 0;
		text-align: center;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
	.w3layouts-banner-info {
		padding: 6em 0 2em 0;
	}
	.w3ls-text {
		width: 50%;
	}
    .w3ls-text img{width:360px;}
	.introduction-info p {
		width: 90%;
	}
	.agileits-team-grid {
		transform:scale(1.1);
		float: left;
		width: 50%;
		padding:0;
	}
	.star-title{ font-size:10px; }
	div#design {
		min-height: 900px;
	}
	.address-icon {
		width: 6%;
	}
}
@media(max-width:736px){
	.navbar-toggle {
		margin-right: 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: none;
	}
	.navbar-collapse {
		z-index:30;
		position: absolute;
		width: 100%;
	}
	.navbar-nav > li {
	    float: none;
		text-align: center;
		background: rgba(4,33,78,0.8);
		display: block;
	}
	.navbar-nav > li > a {
		margin: 0;
	}
	.w3ls-text h2 {
		font-size: 4em;
	}
	.w3ls-text {
		width: 46%;
	}
	.w3layouts-banner-info {
		padding: 3em 0 2em 0;
	}
	.w3_tab_img_left {
		float: left;
		width: 80%;margin-left:10%;
	}
	.wthree-news-left{
		width:15%;
	}
	.date-text{
		width:80%;
	}
	div#design {
		min-height: 940px;
	}
}
@media(max-width:667px){

}
@media(max-width:600px){
	.w3ls-text {
		width: 55%;
	}
	.nav-tabs > li {
		margin: 0 0px;
	}
	.address-icon {
		width: 11%;
	}
	.w3ls-border {
		width: 15%;
	}
}
@media(max-width:568px){
	.team-info img{    transform: scale(1.1);height:14em;width: 90%;
        margin: 20px 10px 10px 14px;}
	iframe{height:300px; width:100%;}
	.star-title{top:10px;}
	div#design {
		min-height: 1073px;
	}
	.styled-input {
		width: 47%;
	}
}
@media(max-width:480px){
	.w3ls-text img{
		width:300px 
	}
	.w3ls-text h2 {
		font-size: 3em;
	}
	.nav-tabs > li > a {
		margin-right: 0px;
		padding: .5em .5em;
	}
	div#design {
		min-height: 1167px;
	}
	.styled-input {
		width: 100%;
		float: none;
		margin: 2em 0 1em 0em;
	}
	.styled-input.agile-styled-input-top {
		margin-top: 2em;
	}
	.navbar-header {
		text-align: left;
	}
	.agileits-logo h1 a {
		letter-spacing: 1px;
	}
	.wthree-news-left{
		width:20%;
	}
	.date-text{
		width:75%;
	}
	.wthree-news-grids {
		width: 95%;
	}
	div#design {
		min-height: 1115px;
	}
}
@media(max-width:414px){
.agileits-logo h3{
    font-size:1em;
}
	.agileits-logo h1 a {
		font-size: 1em;
	}
	.agileits-logo h1 a img {
		width: 13%;
	}
	.w3ls-text {
		width: 100%;
	}
	.w3layouts-banner-info {
		padding: 1em 0 1em 0;
	}
	.introduction, .about, .gallery, .team-dot, .news, .contact {
		padding: 2em 0;
	}
	.w3ls-border {
		margin: 1em auto 0;
	}
	.introduction-info, .agileits-about-grids, .wthree-news-grids {
		margin: 1em 0 0 0;
	}
    /* sponsor */
    .about-heading{padding-top:50px;padding-bottom:60px}
    .aboutus{padding-top:50px;}
    .aboutus .col-xs-6{margin-bottom:30px; }
    .sp-image img{width:80%;margin-left:5%;}
    .sp-caption{padding-top:5px; }

	.nav-tabs {
		margin: 2em 0;
	}
	.nav-tabs > li > a {
		font-size: .8em;
	}
	.wthree-news-grids {
		margin: 1em auto 0;
	}
	div#design {
		min-height: 1153px;
	}
	.contact-form-left {
		padding: 2em 0em 2em 2em;
	}
	.contact-form-right {
		padding: 2em 2em 2em 2em;
	}
	.contact-form-grid {
		margin: 2em 0 0 0;
	}
}
@media(max-width:384px){
    .w3ls-text img{width:300px;margin:auto;}
	.wthree-news-grids {
		width: 100%;
	}
	div#design {
		min-height: 1220px;
	}
	.w3l-heading h3 {
		font-size: 1.5em;
	}
	.header {
		margin: 0em 0 0 0;
	}
}
@media(max-width:375px){
	.nav-tabs > li {
		margin: 2px 0px;
	}
	.navbar-header {
		margin: 0 0 1em 0;
	}
	div#design {
		min-height: 1210px;
	}
	.wthree-news-grid{
		margin:0 0 1em 0;
	}
}
@media(max-width:320px){
	.agileits-logo h1 a {
		font-size: .6em;
	}
	.agileits-logo h1 a img {
		width: 15%;
	}
	.w3ls-text h2 {
		font-size: 2em;
	}
	.w3-arrow {
		margin: 3em 0 0 0;
	}
	.agileits-team-grid {
		float: none;
		width: 100%;
		margin: 0 0 0.5em 0;
	}
	div#design {
		min-height: 1365px;
	}
	.address-icon {
		width: 16%;
	}
	.navbar-collapse {
		z-index: 99;
	}
}
/*-- //responsive --*/

/*-- //spinnner --*/

.spinner {
  margin: 100px auto;
  width: 250px;
  height: 200px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 30px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* design and D */
#tmember{text-align:center;width:100%;background-color:rgba(0,0,0,0.6);padding-top:40px;padding-bottom:40px}
.clip-svg {
		width: 0;
		height: 0;
	}
	
.dp {
		width:6em;
		height:6em;
	}
.se{width:9em;height:9em;}
.polygon-each-img-wrap{display: inline-block;position: relative;}
.polygon-clip-hexagon { 
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		-webkit-clip-path: url("#polygon-clip-hexagon");
		clip-path: url("#polygon-clip-hexagon");
	}
.t-info{ text-align:center;width:100%;
	position:absolute;bottom:2em;font-size:14px;font-weight:bold; background-color:rgba(0,0,0,0.7);color:#fff;padding-left:5px;
}
.junior{font-size:12px;}

@media(max-width:600px){
.se{width:7em;height:7em;}
.dp{width:5em;height:5em;}
}